.exception_p{
    font-size:16px;
    color:red;
    text-align:center;
    width:100%;
    margin-top:30%;
}
.exception_p2{
    font-size:16px;
    color:red;
    text-align:center;
    width:100%;
    margin-top:18%;
}
.exception_child{
    width:60%;
    border:1px red solid;
    padding:5px;
}